<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<style>
		#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
	</style>
	<title>Second page</title>
	<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i;
  input = document.getElementById("mySearch");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myMenu");
  li = ul.getElementsByTagName("li");

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
</head>
<body bgcolor="#3a3a3a">
<input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
<ul id="myMenu">
  <li><a href="/../">First Page</a></li>
  <li><a href="/../index">Second Page</a></li>
  <li><a href="#">Youtube</a></li>
  <li><a href="#">Videos</a></li>
</ul>
	<h1>This is my first website</h1>
	<p>
		This is asdsadawe
	</p>
	<img src={% static "webpage2/Capture.png" %}>
</body>
</html>